<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512562378001-n2m602608nu8pvhhtrdgff97hsj5ksk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512562378001-n2m602608nu8pvhhtrdgff97hsj5ksk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCG57q3Bp7XJPB8SBam4gLrHPpXGBmOBjU</string>
	<key>GCM_SENDER_ID</key>
	<string>512562378001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TJM.Trigger-Tracker</string>
	<key>PROJECT_ID</key>
	<string>trigger-tracker-demo-login</string>
	<key>STORAGE_BUCKET</key>
	<string>trigger-tracker-demo-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512562378001:ios:de37109c0dcda142</string>
	<key>DATABASE_URL</key>
	<string>https://trigger-tracker-demo-login.firebaseio.com</string>
</dict>
</plist>